*{
    padding: 0;
    margin: 0;
}
.page{
    width: 70%;
    margin: 0 auto;
}
label{
  font-weight: bold;
}
form{
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}
h1{
    text-align: center;
    padding-top: 1em;
    padding-bottom:0.5em;
}
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit],button#btn-print {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
.page-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
textarea{
    width: 100%;
    height: 100px;
    
}
button#btn-print:hover{
  background-color: #45a049;
}
ul{
    list-style-type: none;
    width: 100%;
}
ul li{
    width: 100%;
    height:100px;
    margin: 10px 0;
}
.title{
    width: 100%;
    clear: both;
}
.comment{
    width: 100%;
    clear: both;
}
.comment .comment-left{
    width: 90%;
    float: left;
}
.comment .comment-right{
    width: 10%;
    float: left;

}
ul li h4{
    margin:0;
    text-align: left;
    float: left;
    padding: 0.5em 0;
}
ul li span{
    color:rgb(92, 92, 92);
    font-size: 12px;
    text-align: right;float: right;
    padding: 1em 0;

}
ul li p{
    clear: both;
    font-weight: 500;
    color:rgb(0, 0, 0);
    font-size: 12px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1224px){
  .chua1{
    width: 45%;
    float: left;
  }
  .chua2{
      width: 45%;
      float: right;
      position: relative;
  }
}
@media screen and (max-width: 480px){
  .chua1{
    width: 100%;
  }
  .chua2{
      width: 100%;
  }

}
